# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Fourth_wall.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Матвей\Desktop\Projects\Fourth_wall\.idea\.idea.Fourth_wall\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
