# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.Fourth_wall.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Матвей\Desktop\Projects\Fourth_wall\Fourth_wall\.idea\.idea.Fourth_wall.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
